<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="app-title">People Management</span>
  
  <span class="spacer"></span>
  
  <div class="header-actions">
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    
    <button mat-icon-button matTooltip="Help">
      <mat-icon>help_outline</mat-icon>
    </button>
    
    <button mat-icon-button matTooltip="User Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>